
    


 <div id="mainArticle" class="hidden" hidden>
    <div id="article">

          <h2 id="articleHeader" class="hidden" hidden>Marcos' <br> Dirty Pool</h2>
          <p class="hidden" hidden>Instructor Marcos isn't just swimming in corruption, he's swimming in his brand new pool. Swimming like a shark does! Where did Marcos Palacios get the money for the pool? From the Ironhack coffee fund, that's where. So next time the coffee machine is empty, remember where your tuition dollars are going - for a refreshing dip.</p>
<a href="/" class="hidden" hidden>Back to Mr. X</a>
    </div>
        </div>
  