
    


 <div id="mainArticle" class="hidden" hidden>
    <div id="article">

          <h2 id="articleHeader" class="hidden" hidden>Contact Mr. X</h2>
          <p class="hidden" hidden>If you know any muck that is fit to rake please <a href="mailto:mrx@zequi4real.com">email me</a>  and justice will be made. <br><br> <b> YOUR IDENTITY IS SAFE AS MINE IS! </b></p>
<a href="/" class="hidden" hidden>Back to Mr. X</a>
    </div>
        </div>
  