
    <div id="mainArticle" class="hidden" hidden>
          <a href="/article">
            <h1>
              Marcos' <br />
             
              Dirty Pool
            
            </h1>
          </a>
        </div>
  